.custom-navbar {
    background: linear-gradient(135deg, var(--primary-color), #3b82f6);
    box-shadow: 0 4px 20px rgba(37, 99, 235, 0.1);
    padding: 1rem 0 !important;
}

.custom-navbar-brand {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: white !important;
}

.custom-navbar-brand i {
    margin-right: 0.5rem;
    // color: var(--secondary-color);
}
